.container {
  display: flex;
  border-radius: 6vh;
  flex-direction: column;
  background-color: black;
  width: 40vh;
  height: 90vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 10vh;
  margin-right: 10vh;
}

.conatiner2 {
  display: flex;
  flex-direction: row;
}

.row1 {
  display: flex;
  text-indent: 4.5vh;
  font-size: 9vh;
  height: 38vh;
  width: 35.5vh;
  color: white;
  justify-content: end;
  align-items: end;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button {
  display: flex;
  font-family: Helvetica;
  margin: 0.5vh;
  font-size: 3.8vh;
  padding: 2vh;
  text-emphasis: bold;
  border-radius: 10vh;
  color: white;
  width: 4vh;
  height: 4vh;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.button__grey {
  background-color: rgb(48, 49, 49);
}
.button__light-grey {
  color: black;
  background-color: rgb(164, 164, 164);
}
.button__orange {
  background-color: rgb(245, 152, 6);
}
.button__wide {
  width: 12.2265vh;
  background-color: rgb(48, 49, 49);
  justify-content: start;
  text-align: left;
  text-indent: 0.5vh;
  color: white;
}
