.container {
    display: flex;
    border-radius: 6vh;
    flex-direction: column;
    background-color: black;
    width: 40vh;
    height: 90vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 10vh;
    margin-right: 10vh;
}

.row1 {
    display: flex;
    text-indent: 4.5vh;

    font-size: 9vh;
    
    // direction: rtl;
    height: 38vh;
    // This is a hack to make the
    // result align correctly: .;
    // unformtanlty css coesnt do 
    // text indentation for direction rtl...
    // its not idead as teh container
    // is the full width.
    // But it will alwasy be les then the
    // other rows so it will work.
    
    width: 35.5vh;

    color: white;
    justify-content: end;

    align-items: end;
}

.row2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.row3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.row4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.row5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.row6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    display: flex;
    font-family: Helvetica;
    margin: 0.5vh;
    font-size: 3.8vh;
    padding: 2vh;
    text-emphasis: bold;
    border-radius: 10vh;
    color: white;
    width: 4vh;
    height: 4vh;
    justify-content: center;
    text-align: center;
    align-items: center;

    &__grey {
        background-color: rgb(48, 49, 49);
    }

    &__light-grey {
        color: black;
        background-color: rgb(164, 164, 164);
    }

    &__orange {
        background-color: rgb(245, 152, 6);
    }

    &__wide {
        width: 13*.9405vh;
        // margin-left: 2vh;;
        background-color: rgb(48, 49, 49);
        justify-content: start;
        text-align: left;
        text-indent: 0.5vh;
        color: white;
    }
}

