.container {
  display: flex;
  border-radius: 6vh;
  flex-direction: column;
  background-color: black;
  width: 40vh;
  height: 90vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 10vh;
  margin-right: 10vh;
}

.row1 {
  display: flex;
  text-indent: 3vh;
  font-size: 9vh;
  direction: rtl;
  height: 35vh;
  width: 40vh;
  color: white;
  justify-content: start;
  align-items: end;
}

.row2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.row3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.row4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.row5 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.row6 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: flex;
  margin: 0.5vh;
  font-size: 5vh;
  padding: 2vh;
  text-emphasis: bold;
  border-radius: 10vh;
  color: white;
  width: 5vh;
  height: 5vh;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 1px solid black;
}
.button__grey {
  background-color: rgb(48, 49, 49);
}
.button__light-grey {
  color: black;
  background-color: rgb(164, 164, 164);
}
.button__orange {
  background-color: rgb(245, 152, 6);
}

.button-wide {
  display: flex;
  border-radius: 10vh;
  padding: 0.5vh;
  margin: 0.5vh;
  font-size: 5vh;
  text-indent: 4vh;
  width: 20vh;
  height: 8vh;
  background-color: rgb(48, 49, 49);
  justify-content: start;
  align-items: center;
  border: 1px solid black;
  text-align: left;
  color: white;
}
