.container {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 40vw;
  height: 80vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

.row1 {
  display: flex;
  font-size: 50px;
  height: 30vh;
  width: 40vw;
  color: white;
  justify-content: center;
  align-items: center;
}

.row2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.row3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.row4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.row5 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.row6 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: flex;
  text-emphasis: bold;
  border-radius: 10vw;
  color: white;
  width: 10vw;
  height: 10vh;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 1px solid black;
}
.button__grey {
  background-color: rgb(48, 49, 49);
}
.button__light-grey {
  color: black;
  background-color: rgb(164, 164, 164);
}
.button__orange {
  background-color: rgb(245, 152, 6);
}

.button-wide {
  display: flex;
  border-radius: 10vw;
  width: 20vw;
  height: 10vh;
  background-color: rgb(48, 49, 49);
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  text-align: center;
  color: white;
}
